<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.project.mapper.exercise.ExerciseMapper">

    <!--숄더프레스 등록-->
    <insert id="shoulderPressInsert">
        INSERT INTO TBL_SHOULDER_PRESS
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_SHOULDER_PRESS'), now(), #{userNum})
    </insert>

    <!--숄더프레스 조회-->
    <select id="shoulderPressSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_SHOULDER_PRESS
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--숄더프레스 수정-->
    <update id="shoulderPressCheck">
        UPDATE TBL_SHOULDER_PRESS
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--사이드레터럴레이즈 등록-->
    <insert id="sideLateralRaiseInsert">
        INSERT INTO TBL_SIDE_LATERAL_RAISE
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_SIDE_LATERAL_RAISE'), now(), #{userNum})
    </insert>

    <!--사이드레터럴레이즈 조회-->
    <select id="sideLateralRaiseSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS,AREA_NAME
        FROM TBL_SIDE_LATERAL_RAISE
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--사이드레터럴레이즈 수정-->
    <update id="sideLateralRaiseCheck">
        UPDATE TBL_SIDE_LATERAL_RAISE
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--싯업-->
    <insert id="sitUpInsert">
        INSERT INTO TBL_SIT_UP
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_SIT_UP'), now(), #{userNum})
    </insert>

    <!--싯업 조회-->
    <select id="sitUpSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_SIT_UP
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--싯업 수정-->
    <update id="sitUpCheck">
        UPDATE TBL_SIT_UP
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--레그레이즈-->
    <insert id="legRaiseInsert">
        INSERT INTO TBL_LEG_RAISE
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_LEG_RAISE'), now(), #{userNum})
    </insert>

    <!--레그레이즈 조회-->
    <select id="legRaiseSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_LEG_RAISE
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--레그레이즈 수정-->
    <update id="legRaiseCheck">
        UPDATE TBL_LEG_RAISE
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--푸쉬업-->
    <insert id="pushUpInsert">
        INSERT INTO TBL_PUSHUP
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_PUSHUP'), now(), #{userNum})
    </insert>

    <!--푸쉬업 조회-->
    <select id="pushUpSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_PUSHUP
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--푸쉬업 수정-->
    <update id="pushUpCheck">
        UPDATE TBL_PUSHUP
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--버피-->
    <insert id="burpeeInsert">
        INSERT INTO TBL_BURPEE
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_BURPEE'), now(), #{userNum})
    </insert>

    <!--버피 조회-->
    <select id="burpeeSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_BURPEE
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--버피 수정-->
    <update id="burpeeCheck">
        UPDATE TBL_BURPEE
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--슈퍼맨-->
    <insert id="supermanInsert">
        INSERT INTO TBL_SUPERMAN
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_SUPERMAN'), now(), #{userNum})
    </insert>

    <!--슈퍼맨 조회-->
    <select id="supermanSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_SUPERMAN
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--슈퍼맨 수정-->
    <update id="supermanCheck">
        UPDATE TBL_SUPERMAN
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--턱걸이-->
    <insert id="chinningInsert">
        INSERT INTO TBL_CHINNING
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_CHINNING'), now(), #{userNum})
    </insert>

    <!--턱걸이 조회-->
    <select id="chinningSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_CHINNING
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--턱걸이 수정-->
    <update id="chinningCheck">
        UPDATE TBL_CHINNING
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--스쿼트-->
    <insert id="squatInsert">
        INSERT INTO TBL_SQUAT
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_SQUAT'), now(), #{userNum})
    </insert>

    <!--스쿼트 조회-->
    <select id="squatSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_SQUAT
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--스쿼트 수정-->
    <update id="squatCheck">
        UPDATE TBL_SQUAT
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--런지-->
    <insert id="lungeInsert">
        INSERT INTO TBL_LUNGE
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_LUNGE'), now(), #{userNum})
    </insert>

    <!--런지 조회-->
    <select id="lungeSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_LUNGE
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--런지 수정-->
    <update id="lungeCheck">
        UPDATE TBL_LUNGE
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--달리기-->
    <insert id="runningInsert">
        INSERT INTO TBL_RUNNING
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_RUNNING'), now(), #{userNum})
    </insert>

    <!--달리기 조회-->
    <select id="runningSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_RUNNING
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--달리기 수정-->
    <update id="runningCheck">
        UPDATE TBL_RUNNING
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

    <!--자전거-->
    <insert id="bikingInsert">
        INSERT INTO TBL_BIKING
        (NUM, REGIST_DATE, USER_NUM)
        VALUES(NEXTVAL('SEQ_BIKING'), now(), #{userNum})
    </insert>

    <!--자전거 조회-->
    <select id="bikingSelect" resultType="exerciseDTO">
        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME
        FROM TBL_BIKING
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')
    </select>

    <!--자전거 수정-->
    <update id="bikingCheck">
        UPDATE TBL_BIKING
        SET STATUS='0'
        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD') AND AREA_NAME=#{areaName}
    </update>

<!--    운동 전부 조회-->
<!--    <select id="excerciseList" resultType="excerciseDTO">-->
<!--        SELECT REGIST_DATE, USER_NUM, STATUS, AREA_NAME-->
<!--        FROM TBL_BIKING-->
<!--        WHERE USER_NUM=#{userNum} AND REGIST_DATE=TO_DATE(#{registDate},'YYYY-MM-DD')-->
<!--    </select>-->










</mapper>



















