<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운동목록</title>
    <link rel="stylesheet" href="/assets/css/workout.css"/>

</head>
<body>
<div class="root">
    <div class="wrapper-1">
        <div class="wrapper">
            <div class="titleheader">
                <h1 class="loginh1">
                    <a class="logo" href="/user/login">The Join </a>
                </h1>
            </div>

            <div class="information">
                <div class="information2">
                    <h5 style="margin-top: 2px; margin-right: 5px;">이메일 : </h5>
                    <h5 style="margin-top: 2px; margin-right: 50px;"
                        th:text="${session.email}"></h5>
                    <h5 style="margin-top: 2px; margin-right: 5px;">관심 부위 : </h5>
                    <h5 style="margin-top: 2px; margin-right: 50px;"
                        th:text="${session.bodyArea}"></h5>
                </div>
                <div>
                    <select name="dateSearch" >
                        <option th:text="${session.todayDate}" value=""></option>
                        <option value="어깨">기록했던 날짜</option>
                    </select>
                </div>
            </div>

            <table class="worktable">
                <th>운동순서</th>
                <th>운동명</th>
                <th>운동 완료 여부</th>
                <th:block th:each="exerciseDTO, status:${exerciseDTOList}">
                <tr>
                    <td th:text="${status.count}"></td>
                    <td th:text="${exerciseDTO.areaName}"></td>

                    <td th:if="${exerciseDTO.status}==1" >
                        <a th:href="@{/user/exerciseCheck/(areaName=${exerciseDTO.areaName})}"> 확인 </a>
                        </td>
                    <td th:if="${exerciseDTO.status}==0"> 완료 </td>
                </tr>
                </th:block>
            </table>
        </div>
    </div>
</div>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    let message = [[${msg}]];
    console.log(message);
    if(message!=null){
    alert(message);
    }
</script>

</html>